## Import Libraries and Import Data

In [2]:
import pandas as pd

In [9]:
orders = pd.read_csv('TR_OrderDetails.csv')
products = pd.read_csv('TR_Products.csv')
properties = pd.read_csv('TR_PropertyInfo.csv')

In [7]:
orders.head()

   OrderID   OrderDate  PropertyID  ProductID  Quantity
0        1  01-01-2015          17         41         1
1        2  01-01-2015          15         54         2
2        3  01-01-2015           5         71         2
3        4  01-01-2015          19          3         2
4        5  01-01-2015          12         45         3

In [8]:
products.head()

   ProductID  ProductName ProductCategory  Price
0          1  Large Towel    Housekeeping      9
1          2   Hand Towel    Housekeeping      5
2          3    Washcloth    Housekeeping      3
3          4      Shampoo    Housekeeping     40
4          5  Moisturizer    Housekeeping     40

In [10]:
properties.head()

   Prop ID PropertyCity PropertyState
0        1     New York      New York
1        2   Cincinnati          Ohio
2        3     Portland        Oregon
3        4      Seattle    Washington
4        5  Kansas City      Missouri

## Basic Questions

### 1
select <br>
max(Quantity) /
count(*)
from tr_orderdetails;

In [13]:
max(orders.Quantity)

3

In [15]:
orders.OrderID.count()

5000

### 2
select distinct
ProductID, Quantity
from tr_orderdetails
where Quantity = 3
order by ProductID asc, Quantity desc
;