### Binning using Python Pandas (pd.cut)

In [13]:
import pandas as pd

In [17]:
passengers = pd.read_csv('3_passengers.csv')
passengers

   PassengerId  Age
0          101   14
1          102   20
2          103   27
3          104   39
4          105   54
5          106   55

In [20]:
passengers['Age_Group'] = pd.cut(passengers.Age, 
                                 bins = [0,20,40,60], labels = ['0-20', '20-40', '40-60'])

In [21]:
passengers

   PassengerId  Age Age_Group
0          101   14      0-20
1          102   20      0-20
2          103   27     20-40
3          104   39     20-40
4          105   54     40-60
5          106   55     40-60